// Unfortunately required for function below to work

@use "sass:color";

// Function that inverts color

@function invert($color) {
  $red: 255 - color.red($color);
  $green: 255 - color.green($color);
  $blue: 255 - color.blue($color);

  @return rgb($red, $green, $blue);
}

//
// Global rules
//

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
}

body {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: $text-color;
  transition: color 1s ease;
}

a:hover {
  color: $darker-colorful-element-color;
  text-decoration: underline;
}

a:visited {
  color: none;
}

em {
  font-weight: bold;
  font-style: normal;
}

p,
blockquote {
  line-height: 1.5em;
}

h3 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.75em;
}

//
// Rules that apply to the header
//
// views/header.html

header {
  padding-block: 1em;
  font-family: $normal-font;
  background-color: $normal-background-color;

  div.container {
    margin: 0 auto;
    width: min(90%, 1000px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .main-logo {
      width: 5em;
      height: auto;
    }

    .main-logo:hover {
      fill: pink;
    }

    // navigation

    .mobile-nav-toggle {
      display: none;
    }

    .primary-navigation {
      z-index: 950;
    }

    // Media query dealing with the whole responsive nav menu

    @media (width <=40em) {
      .primary-navigation {
        display: none;
        position: fixed;
        inset: 7rem 3rem auto;
        background: whitesmoke;
        border-radius: 4px;
        box-shadow: 0 0 0.3em rgb(0 0 0 / 25%), 0 0 0 1000vmax rgb(0 0 0 / 50%);

        ul.nav-list {
          text-align: center;
          display: grid;
          gap: 2em;
        }

      }

      .primary-navigation[data-visible] {
        display: block;
        position: fixed;
      }

      .mobile-nav-toggle[aria-expanded="false"] {
        background-image: url("../images/Hamburger_icon.svg");
        background-size: contain;
        background-position: center;
      }

      .mobile-nav-toggle {
        display: block;
        cursor: pointer;
        background: transparent;
        border: 0;
        padding: 0.5em;
        width: 2.5em;
        aspect-ratio: 1;
      }

      .mobile-nav-toggle .icon-close {
        display: none;
      }

      .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("../images/Hamburger_icon_close.svg");
        background-size: contain;
        background-position: center;
      }

      .opened {
        display: block;
        position: fixed;
      }

    }

    .nav-list {
      display: flex;

      li {
        padding-inline: 2em;
      }

    }

  }

}

//
// Rules that apply to the main section of the main page
//
// This is CSS-grid based

main.index-main {
  background-color: $normal-background-color;

  div.main-title {
    text-align: center;
    font-weight: bolder;
    font-size: clamp(2.25rem, 9.333vw - .875rem, 3.5rem);
  }

  // This is a query that is only active in browsers that support  CSS Grid

  @supports (display: grid) {
    div.wrapper {
      display: grid;
      padding-block: 7em;
      padding-inline: 8%;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    // This rotates the chessboard and adapts its size

    @media (width > 60em) {
      div.wrapper {
        transform: rotate(45deg);
        padding: 10em;

        div.seven {
          transform: rotate(-90deg);
        }

        div#six>span.chess,
        div#eleven>span.mates {
          transform: rotate(-45deg);
        }

      }
    }

  }

  // This covers the code when the browser does NOT support CSS grid

  @supports not (display:grid) {
    div.wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding-block: 12em;
    }

    div.wrapper>div {
      display: none;
      width: 7em;
      height: auto;

    }

  }

  div.wrapper {
    width: min(80%, 900px);
    margin: 0 auto;

    div.seven {
      background-image: url("../images/queen.svg");
      background-size: contain;
      background-position: center;
    }

    div.ten {
      background-image: url("../images/king.svg");
      background-size: contain;
      background-position: center;
    }

    div#six,
    div#eleven {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $display-font;
      text-shadow: 2px 2px $darker-colorful-element-color;
      color: $colorful-element-color;
      font-size: clamp(1.25rem, 7.333vw - .875rem, 1.5rem);
    }

  }

  div.wrapper>div {
    aspect-ratio: 1;
  }

  div.wrapper>div.white-checker {
    background-color: $secondary-contrast-color;
  }

  div.wrapper>div:not(.white-checker) {
    background-color: $colorful-element-color;
  }

}

//
// Rules that apply to the main section of the blog page
//
// Blog.html

main.blog {
  font-family: $normal-font;
  background-color: $normal-background-color;

  p {
    margin: 0;
    padding-block: 1em;
  }

  blockquote {
    font-size: 1.2em;
  }

  div.checked-background {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20em;
    width: 100%;
    background-image: url("../images/backgrounds/checked_background.png");
    background-size: contain;
    background-repeat: round;

    div.blog-title-image-container {
      width: 10em;
      height: auto;

      img {
        width: 100%;
        height: auto;
      }

    }

    h2 {
      margin: .25em;

      span.say-chess {
        text-shadow: 2px 2px lightcoral;
      }

    }

  }

  div.narrative-blog {
    padding-block: 4em;
    width: min(90%, 1000px);
    margin: 0 auto;
    color: $text-color;

    h3.blog-title,
    p.date {
      text-align: center;
    }

    p.date {
      padding: 0 0 1em;
    }

    div.motto-and-intro {
      display: flex;
      flex-wrap: wrap;

      blockquote,
      p {
        flex: auto;
      }

      blockquote {
        width: 25%;
      }

      p {
        width: 65%;
      }

    }

    ol {
      padding-block: 1em;
      border-block: solid $text-color;

      h3 {
        font-size: 1.25em;
      }

    }

    figure {
      margin-inline: 0;

      div.image-container {
        img {
          width: 100%;
          height: auto;

        }

      }

      figcaption {
        font-size: 0.9em;
        text-align: center;
      }

    }

    h4.other-posts-title {
      text-align: center;
    }

    img.card-img-top {
      padding-block: 10%;
      padding-inline: 20%;
      fill: $text-color;
      background-image: url("../images/backgrounds/checked_background.png");
      background-size: contain;
      background-repeat: round;

    }

    h5.card-title {
      text-align: center;
    }

    p.card-text {
      font-weight: normal;
      font-size: 0.9em;
    }

  }

}

//
// Rules that apply to the main section of the members page
//
// Members.html

main.main-members {
  display: flex;
  flex-direction: column;
  width: min(90%, 1000px);
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: $normal-font;
  color: $text-color;

  a {
    text-decoration: underline;
  }

  h2 {
    padding-block: 1em;
    text-shadow: 2px 2px invert($link-color);
  }

  p.contact-us {
    padding-block: 2em;
  }

  div.member-card-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    div.member-card {
      width: 20em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-block: 2em;

      div.image-container {
        img {
          clip-path: circle(50% at 50% 50%);
        }

      }

      p.member-description {
        padding-inline: 1.5em;
        height: 8em;
      }

      div.elo {
        padding-block: 1.5em;
      }

    }

  }

}

//
// Rules that apply to the main section of the contact and FAQ page
//
// Contact.html

main {
  a {
    text-decoration: underline;
  }

  div.main-contact {
    padding-block: 2em;
    width: min(90%, 1000px);
    margin: 0 auto;
    font-family: $normal-font;

    h2.accordion-header {
      margin-top: 0;

      button.accordion-button {
        font-family: $normal-font;
      }

      button.accordion-button:not(.collapsed)::after {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='rgb(255,167,182)' fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
      }

    }

    div.alert-info {
      padding-right: 2em;

      button.close {
        position: absolute;
        font-size: 1.5em;
        top: 1px;
        right: 5px;
        border: none;
        background-color: transparent;
        align-items: right;
        justify-content: right;
        color: $darker-pink;
        cursor: pointer;
      }
    }

  }

  form.form {
    display: flex;
    flex-direction: column;
    width: min(90%, 450px);
    justify-content: center;
    margin: 0 auto;

    input,
    textarea {
      font-family: $normal-font;
      font-size: 1em;
    }

    textarea {
      text-align: left;
      height: 10em;
    }

    button {
      font-family: $normal-font;
      font-weight: bold;
      border: none;
      cursor: pointer;
      background-color: $normal-background-color;
      border: 2px $colorful-element-border-color;
      border-radius: 0.375rem;
      font-size: 0.9em;
      margin-block: 1em;
    }

    button:hover {
      background-color: $colorful-element-color;
    }

  }

  form.form>* {
    text-align: center;
    padding-block: 0.5em;
  }
}

//
// Rules that apply to the footer
//
// The footer has been organized in two elements: a main footer that holds most the information
// and a second, sub-footer the goes below it 
//
// views/footer.html

footer {
  background-color: $secondary-contrast-color;
  font-family: $normal-font;
  font-size: .9em;
  padding-block: 2em;

  ul * {
    list-style-type: none;
  }

  li * {
    margin-left: -1em;
  }

  svg:hover * {
    fill: $darker-colorful-element-color;
    transition: fill 1s ease;
  }

  div.main-footer {
    display: flex;
    justify-content: space-around;
    width: min(90%, 1000px);
    padding-top: 1em;
    margin: 0 auto;

    div.left-side-footer {
      padding-inline: .5em;

      button {
        width: min(110%, 142px);
        margin: 0 auto;
        cursor: pointer;
        border: none;
        font-family: $normal-font;
        font-size: 0.8em;
        box-shadow: none;
        font-weight: bold;
        border-radius: 6px;
        padding: .75em .5em;
      }

      button:hover {
        background-color: $colorful-element-color;
      }

      div.mobile-app-info {
        padding-block: 1em;

        p {
          text-align: center;
        }

        div.mobile-app-logos {
          display: flex;
          justify-content: space-evenly;
          height: 3em;

          svg {
            width: 1.8em;
            cursor: pointer;
          }

          svg.play-store {
            padding-top: .25em;
          }

        }

      }

    }

    div.right-side-footer {
      .column-title {
        font-weight: bold;
      }

      .phone-number {
        padding-top: 0.75em;
      }

    }

  }

  div.sub-footer {
    display: flex;
    justify-content: space-between;
    width: min(90%, 1000px);
    border-top: solid 1px $text-color;
    margin: 2em auto 0;
    padding-block: .75em;

    .main-logo {
      width: 5em;
      height: auto;
    }

    div.pages-in-footer {
      display: flex;
      align-items: center;

      p {
        padding-right: 2em;
      }

      ul {
        display: flex;

        li {
          padding-right: 1.35em;
          white-space: nowrap;
        }

        li:not(:last-child)::after {
          content: " |";
        }
      }
    }

    div.social-media-icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      svg {
        cursor: pointer;
        margin: 0 0.5em;
        width: 1.5em;
      }

    }

  }

}