<header class="primary-header">
    <div class="container">
        <a href="index.html">
            <img class="main-logo" src="./assets/images/main_logo.svg" alt="Main logo of the website">
        </a>
        <button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false">
            <span class="visually-hidden">Menu</span>
        </button>
        <nav class="primary-navigation" id="primary-navigation">
            <ul class="nav-list" role="list">
                <li><a href="members.html">Members</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contact.html">Contact & FAQ</a></li>
            </ul>
        </nav>
    </div>
</header>